@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;700&display=swap');

.footer {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 3rem;
    }

    .contact-list {
        margin-top: 4rem;
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            .link {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                p {
                    font-family: 'SF Pro Text', sans-serif;
                    font-weight: bold;
                    font-size: 1rem;
                    color: white;
                    margin: 0;
                }
                small {
                    font-family: 'SF Pro Text', sans-serif;
                    font-weight: 600;
                    font-size: 1rem;
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            &:hover {
                transform: scale(1.3);
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .footer {
        padding: 5%;
        
        h1 {
            font-size: 2rem;
        }

        .contact-list {
            gap: 2rem;
            
            a {
                .link {
                    p {
                        font-size: 0.9rem;
                    }
                    small {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

/* Media query para telas muito pequenas (ex.: celulares) */
@media (max-width: 480px) {
    .footer {
        padding: 2%;

        h1 {
            font-size: 1.5rem;
        }

        .contact-list {
            gap: 1.5rem;
            flex-direction: column;

            a {
                .link {
                    p {
                        font-size: 0.8rem;
                    }
                    small {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
