.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    gap: 10%;

    img {
        border-radius: 100%;
        width: 30vw;
    }

    h1 {
        font-size: 3rem;
    }
}