@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;700&display=swap');

:root {
    background-color: black;
    color: white;
    font-family: 'SF Pro Text', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}